body{
    background-color: rgb(189, 43, 226);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home{
    background-color: aliceblue;
}

.about{
    background-color: gold;
}

.titulo{
    background-color: black;
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.subtitulo{
    background-color: brown;
}

.parrafo{
    justify-content: center;
    width: 80%;
}


